*__pycache__*
*ipynb_checkpoints*
*.DS_Store*
savedir*/*
*_embeddings.tsv
LM_probe.py
seq2seq.py
.vscode/
*_vocab.txt
*glove.840B.300d.txt
outputs/
*.csv
*.jsonl
*.npy
*.tar.gz
*.zip
backup_datasets/
glue/
data/*
!data/.gitkeep
anli/data/*
!anli/data/.gitkeep
anli/src/nli/.mypy_cache/*
anli/models/*
!anli/models/.gitkeep
.mypy_cache/
**/.mypy_cache/
